<div>
    <h1>Game Events</h1>
    <ul>
        <li *ngFor="let m of cmds">{{m}}</li>
    </ul>
</div>

<div>
    <h1>Game Types</h1>
    <ul>
        <li *ngFor="let m of gametypes">{{m|json}}</li>
    </ul>
</div>
<div>
    <h1>Games</h1>
    <ul>
        <li *ngFor="let m of games">
           <span (click)="removeGame(m.uuid)"> [X]</span>
           <span (click)="joinGame(m.uuid)">{{m|json}}</span>
        </li>
    </ul>
</div>
<input [(ngModel)]="text" />
<button (click)="sendCmd('h')">Cmds</button>
<button (click)="sendMsg('h')">messages</button>
<button (click)="createGame()">Create Game</button>