<div>
    {{gameEvents.length}}
</div>
<div>
    <ul>
        <li (click)="selectMode(modus.key)" *ngFor="let modus of modi|keyvalue">
            {{modus|json}}
        </li>
    </ul>
</div>
<jas-log [log]="log"></jas-log>
<div>
    <!-- {{points|json}} -->
    <jas-roundinfo [info]="mode"></jas-roundinfo>
</div>
<!-- TODO: class table -->
<ng-container *ngIf="!modi">
    <jas-table [info]="users" [cards]="table" (confirm)="jumpTimeOut()"></jas-table>
</ng-container>
<div [ngClass]="{'deck': true, 'disabled': !canPlay}">
    <div *ngFor="let card of cards; trackBy:trackCard" 
    >
        {{card.legal}}
        <jas-card [card]="card" (click)="playCard(card)"></jas-card>
    </div>
</div>
<div>
    {{params|json}}
</div>

<textarea [value]="gameEvents.join('\n')"></textarea>
<div>
    <jas-chat></jas-chat>
</div>